In [1]:
import sklearn as sk
from sklearn import preprocessing
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns #Control figure 
import numpy as np
import os
import datetime
from datetime import datetime
from datetime import date
import calendar
matplotlib.style.use('ggplot')
%matplotlib inline

In [2]:
cwd = os.getcwd() #to get current working directory
#print(cwd)

In [3]:
df = pd.read_csv('df.csv', encoding = "utf-8")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39781 entries, 0 to 39780
Data columns (total 36 columns):
center_id                                      39781 non-null object
center_name                                    39781 non-null object
legal_name                                     39781 non-null object
building                                       39773 non-null object
street                                         39781 non-null object
borough                                        39781 non-null object
zipcode                                        39736 non-null float64
phone                                          39713 non-null object
permit_number                                  35796 non-null float64
permit_expiration                              39781 non-null object
status                                         39781 non-null object
age_range                                      37966 non-null object
maximum_capacity                               39781 non-null int64
program_type                                   39781 non-null object
facility_type                                  39781 non-null object
child_care_type                                39781 non-null object
building_identification_number                 39781 non-null int64
url                                            20076 non-null object
date_permitted                                 35541 non-null object
actual                                         35541 non-null object
violation_rate_percent                         39710 non-null float64
average_violation_rate_percent                 39697 non-null float64
total_educational_workers                      39781 non-null int64
average_total_educational_workers              39781 non-null float64
public_health_hazard_violation_rate            39710 non-null float64
average_public_health_hazard_violation_rate    39697 non-null float64
critical_violation_rate                        39710 non-null float64
average_critical_violation_rate                39697 non-null float64
inspection_date                                39735 non-null object
regulation_summary                             39735 non-null object
violation_category                             24325 non-null object
health_code_sub_section                        24325 non-null object
violation_status                               24325 non-null object
inspection_summary_result                      37656 non-null object
inspection_reason                              37656 non-null object
result                                         37656 non-null object
dtypes: float64(9), int64(3), object(24)
memory usage: 10.9+ MB

In [5]:
print("\t-> Crear variables de año, mes y día a partir de Inspection date")

	-> Crear variables de año, mes y día a partir de Inspection date

In [6]:
df.inspection_date

0        01/31/2019
1        05/30/2018
2        01/31/2019
3        04/16/2019
4        04/17/2018
            ...
39776    10/03/2018
39777    03/09/2018
39778    11/08/2018
39779    10/25/2018
39780    04/17/2019
Name: inspection_date, Length: 39781, dtype: object

In [7]:
df['inspection_date'] = pd.to_datetime(df.inspection_date, format = '%m/%d/%Y')

In [8]:
df.inspection_date.dropna()

0       2019-01-31
1       2018-05-30
2       2019-01-31
3       2019-04-16
4       2018-04-17
           ...
39776   2018-10-03
39777   2018-03-09
39778   2018-11-08
39779   2018-10-25
39780   2019-04-17
Name: inspection_date, Length: 39735, dtype: datetime64[ns]

In [9]:
df['inspection_year'] = df['inspection_date'].dt.year

In [10]:
df.inspection_year.value_counts()

2018.0    14354
2019.0    12991
2017.0     8714
2020.0     3676
Name: inspection_year, dtype: int64

In [11]:
df['inspection_month_name'] = df['inspection_date'].dt.month_name()

In [12]:
df.inspection_month_name.value_counts()

October      4353
January      4301
March        4062
February     3991
September    3622
May          3541
November     3254
June         2982
April        2816
December     2524
August       2228
July         2061
Name: inspection_month_name, dtype: int64

In [13]:
df['inspection_day_name'] = df['inspection_date'].dt.day_name()

In [14]:
df.inspection_day_name.value_counts()

Wednesday    11884
Thursday     11143
Tuesday       9279
Friday        4483
Monday        2938
Saturday         7
Sunday           1
Name: inspection_day_name, dtype: int64

In [15]:
print("\t-> Crear variables dummies a partir de las variables inspection_reason y result")

	-> Crear variables dummies a partir de las variables inspection_reason y result

In [16]:
df.inspection_reason.value_counts(dropna=False)

initial_annual_inspection                       25233
compliance_inspection_of_open_violations         7022
monitoring_inspection_non-routine                5323
NaN                                              2125
lead_based_paint_or_lead_in_water_inspection       78
Name: inspection_reason, dtype: int64

In [17]:
df['inspection_reason'] = df.inspection_reason.astype('str')

In [18]:
df['initial_annual_inspection'] = ['initial_annual_inspection' in i for i in df['inspection_reason']]
df['compliance_inspection_of_open_violations'] = ['compliance_inspection_of_open_violations' in i for i in df['inspection_reason']]
df['monitoring_inspection_non_routine'] = ['monitoring_inspection_non-routine' in i for i in df['inspection_reason']]
df['lead_based_paint_or_lead_in_water_inspection'] = ['lead_based_paint_or_lead_in_water_inspection' in i for i in df['inspection_reason']]

In [19]:
df.shape

(39781, 43)

In [20]:
df['initial_annual_inspection'] = df.initial_annual_inspection.apply(lambda x: 1 if x == True else 0)
df['compliance_inspection_of_open_violations'] = df.compliance_inspection_of_open_violations.apply(lambda x: 1 if x == True else 0)
df['monitoring_inspection_non_routine'] = df.monitoring_inspection_non_routine.apply(lambda x: 1 if x == True else 0)
df['lead_based_paint_or_lead_in_water_inspection'] = df.lead_based_paint_or_lead_in_water_inspection.apply(lambda x: 1 if x == True else 0)

In [21]:
df.shape

(39781, 43)

In [22]:
df.result.value_counts(dropna=False)

reinspection_required;_fines_pending                                 13917
passed_inspection_with_no_violations                                  9236
reinspection_required                                                 5543
reinspection_not_required                                             4657
NaN                                                                   2125
previously_cited_violations_corrected                                 1876
reinspection_required;_violations_corrected_at_time_of_inspection     1519
passed_inspection;_violations_corrected_at_time_of_inspection          573
reinspection_required;_program_closed                                  248
previously_closed_program_re-opened                                     87
Name: result, dtype: int64

In [23]:
print("\t-> La variable result al parecer cuenta con dos variables, es decir, con dos resultados")

	-> La variable result al parecer cuenta con dos variables, es decir, con dos resultados

In [24]:
df_2 = df.result.str.partition(';_')

In [25]:
df_2

                                           0   1              2
0                      reinspection_required
1      previously_cited_violations_corrected
2                      reinspection_required
3      previously_cited_violations_corrected
4                      reinspection_required
...                                      ...  ..            ...
39776                  reinspection_required  ;_  fines_pending
39777                  reinspection_required  ;_  fines_pending
39778                  reinspection_required  ;_  fines_pending
39779   passed_inspection_with_no_violations
39780                  reinspection_required  ;_  fines_pending

[39781 rows x 3 columns]

In [26]:
df_2.rename(columns={0:'result_1', 2:'result_2'}, inplace=True)

In [27]:
df_2

                                    result_1   1       result_2
0                      reinspection_required
1      previously_cited_violations_corrected
2                      reinspection_required
3      previously_cited_violations_corrected
4                      reinspection_required
...                                      ...  ..            ...
39776                  reinspection_required  ;_  fines_pending
39777                  reinspection_required  ;_  fines_pending
39778                  reinspection_required  ;_  fines_pending
39779   passed_inspection_with_no_violations
39780                  reinspection_required  ;_  fines_pending

[39781 rows x 3 columns]

In [28]:
df_2 = df_2.drop(df_2.columns[[1]], axis=1)

In [29]:
df = pd.concat([df, df_2], axis=1)

In [30]:
df.shape

(39781, 45)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39781 entries, 0 to 39780
Data columns (total 45 columns):
center_id                                       39781 non-null object
center_name                                     39781 non-null object
legal_name                                      39781 non-null object
building                                        39773 non-null object
street                                          39781 non-null object
borough                                         39781 non-null object
zipcode                                         39736 non-null float64
phone                                           39713 non-null object
permit_number                                   35796 non-null float64
permit_expiration                               39781 non-null object
status                                          39781 non-null object
age_range                                       37966 non-null object
maximum_capacity                                39781 non-null int64
program_type                                    39781 non-null object
facility_type                                   39781 non-null object
child_care_type                                 39781 non-null object
building_identification_number                  39781 non-null int64
url                                             20076 non-null object
date_permitted                                  35541 non-null object
actual                                          35541 non-null object
violation_rate_percent                          39710 non-null float64
average_violation_rate_percent                  39697 non-null float64
total_educational_workers                       39781 non-null int64
average_total_educational_workers               39781 non-null float64
public_health_hazard_violation_rate             39710 non-null float64
average_public_health_hazard_violation_rate     39697 non-null float64
critical_violation_rate                         39710 non-null float64
average_critical_violation_rate                 39697 non-null float64
inspection_date                                 39735 non-null datetime64[ns]
regulation_summary                              39735 non-null object
violation_category                              24325 non-null object
health_code_sub_section                         24325 non-null object
violation_status                                24325 non-null object
inspection_summary_result                       37656 non-null object
inspection_reason                               39781 non-null object
result                                          37656 non-null object
inspection_year                                 39735 non-null float64
inspection_month_name                           39735 non-null object
inspection_day_name                             39735 non-null object
initial_annual_inspection                       39781 non-null int64
compliance_inspection_of_open_violations        39781 non-null int64
monitoring_inspection_non_routine               39781 non-null int64
lead_based_paint_or_lead_in_water_inspection    39781 non-null int64
result_1                                        37656 non-null object
result_2                                        37656 non-null object
dtypes: datetime64[ns](1), float64(10), int64(7), object(27)
memory usage: 13.7+ MB

In [32]:
df.result_1.value_counts(dropna=False)

reinspection_required                    21227
passed_inspection_with_no_violations      9236
reinspection_not_required                 4657
NaN                                       2125
previously_cited_violations_corrected     1876
passed_inspection                          573
previously_closed_program_re-opened         87
Name: result_1, dtype: int64

In [33]:
df['result_1'] = df.result_1.astype('str')

In [34]:
df['reinspection_required'] = ['reinspection_required' in i for i in df['result_1']]
df['passed_inspection_with_no_violations'] = ['passed_inspection_with_no_violations' in i for i in df['result_1']]
df['reinspection_not_required'] = ['reinspection_not_required' in i for i in df['result_1']]
df['previously_cited_violations_corrected'] = ['previously_cited_violations_corrected' in i for i in df['result_1']]
df['passed_inspection'] = ['passed_inspection' in i for i in df['result_1']]
df['previously_closed_program_re-opened'] = ['previously_closed_program_re-opened' in i for i in df['result_1']]

In [35]:
df['reinspection_required'] = df.reinspection_required.apply(lambda x: 1 if x==True else 0)
df['passed_inspection_with_no_violations'] = df.passed_inspection_with_no_violations.apply(lambda x: 1 if x==True else 0)
df['reinspection_not_required'] = df.reinspection_not_required.apply(lambda x: 1 if x==True else 0)
df['previously_cited_violations_corrected'] = df.previously_cited_violations_corrected.apply(lambda x: 1 if x==True else 0)
df['passed_inspection'] = df.passed_inspection.apply(lambda x: 1 if x==True else 0)
df['previously_closed_program_re-opened'] = df['previously_closed_program_re-opened'].apply(lambda x: 1 if x==True else 0)

In [36]:
df.shape

(39781, 51)

In [37]:
df.head()

,center_id,center_name,legal_name,building,street,borough,zipcode,phone,permit_number,permit_expiration,...,monitoring_inspection_non_routine,lead_based_paint_or_lead_in_water_inspection,result_1,result_2,reinspection_required,passed_inspection_with_no_violations,reinspection_not_required,previously_cited_violations_corrected,passed_inspection,previously_closed_program_re-opened
0,dc20398,yeshivat_ohr_haiim,yeshivat_ohr_haiim,86-06,135th_street,queens,11418.0,718-658-7066,NaN,01/23/2115,...,0,0,reinspection_required,,1,0,0,0,0,0
1,dc20398,yeshivat_ohr_haiim,yeshivat_ohr_haiim,86-06,135th_street,queens,11418.0,718-658-7066,NaN,01/23/2115,...,0,0,previously_cited_violations_corrected,,0,0,0,1,0,0
2,dc20398,yeshivat_ohr_haiim,yeshivat_ohr_haiim,86-06,135th_street,queens,11418.0,718-658-7066,NaN,01/23/2115,...,0,0,reinspection_required,,1,0,0,0,0,0
3,dc20398,yeshivat_ohr_haiim,yeshivat_ohr_haiim,86-06,135th_street,queens,11418.0,718-658-7066,NaN,01/23/2115,...,0,0,previously_cited_violations_corrected,,0,0,0,1,0,0
4,dc20398,yeshivat_ohr_haiim,yeshivat_ohr_haiim,86-06,135th_street,queens,11418.0,718-658-7066,NaN,01/23/2115,...,0,0,reinspection_required,,1,0,0,0,0,0

In [38]:
df.result_2.value_counts(dropna=False)

                                              21399
fines_pending                                 13917
NaN                                            2125
violations_corrected_at_time_of_inspection     2092
program_closed                                  248
Name: result_2, dtype: int64

In [39]:
df['result_2'] = df.result_2.astype('str')

In [40]:
df['fines_pending'] = ['fines_pending' in i for i in df['result_2']]
df['violations_corrected_at_time_of_inspection'] = ['violations_corrected_at_time_of_inspection' in i for i in df['result_2']]
df['program_closed'] = ['program_closed' in i for i in df['result_2']]

In [41]:
df.shape

(39781, 54)

In [42]:
df['fines_pending'] = df.fines_pending.apply(lambda x: 1 if x==True else 0)
df['violations_corrected_at_time_of_inspection'] = df.violations_corrected_at_time_of_inspection.apply(lambda x: 1 if x==True else 0)
df['program_closed'] = df.program_closed.apply(lambda x: 1 if x==True else 0)

In [43]:
df.shape

(39781, 54)

In [44]:
df.head()

,center_id,center_name,legal_name,building,street,borough,zipcode,phone,permit_number,permit_expiration,...,result_2,reinspection_required,passed_inspection_with_no_violations,reinspection_not_required,previously_cited_violations_corrected,passed_inspection,previously_closed_program_re-opened,fines_pending,violations_corrected_at_time_of_inspection,program_closed
0,dc20398,yeshivat_ohr_haiim,yeshivat_ohr_haiim,86-06,135th_street,queens,11418.0,718-658-7066,NaN,01/23/2115,...,,1,0,0,0,0,0,0,0,0
1,dc20398,yeshivat_ohr_haiim,yeshivat_ohr_haiim,86-06,135th_street,queens,11418.0,718-658-7066,NaN,01/23/2115,...,,0,0,0,1,0,0,0,0,0
2,dc20398,yeshivat_ohr_haiim,yeshivat_ohr_haiim,86-06,135th_street,queens,11418.0,718-658-7066,NaN,01/23/2115,...,,1,0,0,0,0,0,0,0,0
3,dc20398,yeshivat_ohr_haiim,yeshivat_ohr_haiim,86-06,135th_street,queens,11418.0,718-658-7066,NaN,01/23/2115,...,,0,0,0,1,0,0,0,0,0
4,dc20398,yeshivat_ohr_haiim,yeshivat_ohr_haiim,86-06,135th_street,queens,11418.0,718-658-7066,NaN,01/23/2115,...,,1,0,0,0,0,0,0,0,0